<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.wtbu.mapper.FileShareMapper">

    <resultMap id="BaseResultMap" type="edu.wtbu.entity.FileShare">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="fileId" column="file_id" jdbcType="INTEGER"/>
            <result property="shareMid" column="share_mid" jdbcType="INTEGER"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTiem" column="end_tiem" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_id,share_mid,
        start_time,end_tiem
    </sql>
</mapper>
