<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.wtbu.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="edu.wtbu.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="INTEGER"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
            <result property="photo" column="photo" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="verifyQuestion" column="verify_question" jdbcType="VARCHAR"/>
            <result property="verifyAnswer" column="verify_answer" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,email,username,
        password,name,sex,
        phone,birthday,photo,
        create_time,verify_question,verify_answer
    </sql>
</mapper>
